.text {
  color: #17304c;
  font-size: 58px;
  line-height: 1.1em;
  letter-spacing: -1px;
  font-weight: bolder;
  width: 607px;
}
.text1 {
  color: #224c72;
  width: 578px;
}
.text3 {
  padding: 50px 0px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 153px;
  justify-content: center;
}
.button {
  width: 180px;
  height: 47px;
  font-size: 19px;
  color: white;
  background-color: #0d76ff;
  border: #0d76ff;
  margin-top: 32px;
  border-radius: 3px;
}
.button1 {
  width: 186px;
  height: 55px;
  font-size: 20px;
  color: white;
  background-color: #0d76ff;
  border: #0d76ff;
  margin-top: 50px;
  border-radius: 5px;
}
.btn1 {
  width: 186px;
  height: 43px;
  font-size: 20px;
  color: white;
  background-color: #0d76ff;
  border: #0d76ff;
  border-radius: 5px;
}
.midel {
  text-align: center;
  font-weight: bold;
}
.img4 {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  column-gap: 80px;
}
.bg {
  background-color: #17304c;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 500px; */
  height: auto;
  width: auto;
  row-gap: 20px;
  column-gap: 50px;
}
.test {
  color: white;
  font-weight: 700;
}
.top {
  margin-top: 71px;
  flex-direction: row;
  display: flex;
  row-gap: 19px;
  justify-content: space-between;
  column-gap: 182px;
}
.test1 {
  color: white;
  font-weight: bolder;
  font-size: 3rem;
  width: 256px;
  margin-top: 11px;
}
.apps {
  display: flex;
  flex-wrap: wrap;
  /*background: #17304C;*/
  justify-content: center;
  column-gap: 153px;
}

.atext {
  width: 494px;
  color: #17304c;
}
.textt {
  font-size: 35px;
  font-weight: bold;
  color: #17304c;
}
.divider {
  display: flex;
  column-gap: 25px;
}
.dtext {
  align-items: center;
  display: flex;
  text-align: center;
  color: #17304c;
  width: 350px;
}
.blog {
  text-align: center;
  font-weight: bolder;
  margin-top: 60px;
  font-size: 1.5rem;
}
.blog1 {
  font-size: 2rem;
  margin-top: 15px;
}
.pic {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  row-gap: 10px;
  column-gap: 30px;
}
.pics {
  width: 400px;
}
.ptext {
  width: 400px;
  font-weight: bolder;
  font-size: 1.5rem;
}
.ptext1 {
  width: 400px;
  font-size: 19px;
}
.btn {
  text-align: center;
}
.formtext {
  margin-left: 2.5rem;
  font-weight: bolder;
  font-size: 2rem;
}

.formtext1 {
  font-size: 1.1rem;
  width: 500px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 153px;
}
.form1 {
  background-color: aqutransparena;
  margin-top: 14px;
  width: 30rem;
  box-shadow: 10px, 10px;
  box-shadow: 10px 0px;
  box-shadow: rgb(225 225 225) 0px 0px 12px 5px;
  border-radius: 15px;
  padding: 28px 22px 0px 22px;
}
.input {
  width: 100%;
  color: #17304c;
  font-weight: bold;
}
.stext {
  width: 447px;
  font-size: 18px;
  font-weight: bolder;
  color: #224c72;
}
.scolor {
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}
.img-boxs {
  background-color: #17304c;
  color: black;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.indicators-box {
  width: 100%;

  display: flex;
  justify-content: center;
}

.indicators-box .indicato {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin-right: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.bun {
  font-size: 38px;

  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .input{
    width: 30rem;
  }
  .header {
    margin-left: 500px;
  }
  .apps {
    margin-left: 500px;
  }
  .bg {
    width: 1027px;
    height: auto;
  }
  .top {
    column-gap: 100px;
    flex-direction: column;
  }
  .text {
    font-size: 57px;
    width: 556px;
  }
  .form1{
    width:40rem;
  }
  .atext {
    font-size: 25px;
    width: 500px;
  }
  .text1 {
    font-size: 25px;
  }
  .text3 .button {
    text-align: center;
    margin-left: 207px;
  }
  .apps .button1 {
    margin-left: 150px;
  }
  img {
    padding: 0px 79px 0px 79px;
  }
  .stext {
    width: 467px;
    font-size: 20px;
    font-weight: bolder;
    color: #224c72;
  }

  .midel {
    font-size: 40px;
    width: 500px;
    margin-left: 260px;
  }
  .img4 {
    margin-left: 500px;
    row-gap: 15px;
  }
  .logo {
    height: 180px;
  }
  .slice {
    height: 100px;
    background-color: aqua;
  }

  .pics {
    width: 630px;
  }
  .pic {
    margin-left: 500px;
    row-gap: 10px;
  }
  .ptext {
    width: 650px;
    padding: 0px 10px 0px 110px;
    font-size: 1.5rem;
    font-size: 2rem;
  }
  .ptext1 {
    width: 650px;
    padding: 0px 10px 0px 110px;
  }
  .blog {
    width: 500px;
    margin-left: 260px;

    margin-top: 60px;
  }

  .btn {
    font-size: 38px;

    padding: 0px 186px 0px 129px;
    margin-top: 20px;
  }
  .button1 {
    width: 300px;
  }
  .bun {
    font-size: 38px;
    width: 500px;
    margin-left: 260px;
    margin-top: 20px;
  }

  .form {
    margin-left: 500px;
  }

  /*.formtext {*/
  /*  font-size: 38px;*/
  /*  width: 775px;*/
  /*  text-align: center;*/
  /*}*/
  /*.formtext1 {*/
  /*  font-size: 25px;*/
  /*  width: 775px;*/
  /*  text-align: center;*/
  /*}*/
  .img-box {
    margin-left: -60px;
    margin-top: 90px;
  }
  .scolor {
    margin-top: -57px;
  }
}

@media only screen and (max-width: 780px) and (min-width: 600px) {
  .input{
    width: 20rem;
  }
  
  .header {
    padding: 0px 200px 0px 421px;
  }
  .midel {
    margin: 0px 10px 0px 206px;
    font-size: 40px;
  }
  .img4 {
    padding: 0px 200px 0px 421px;
  }
  .logo {
    height: 150px;
  }
  .apps {
    padding: 0px 200px 0px 421px;
  }
  .blog {
    font-size: 30px;
    margin: 0px 10px 0px 206px;
  }
  .pic {
    padding: 0px 200px 0px 421px;
  }
  .bun {
    margin: 0px 10px 0px 206px;
  }
  .form {
    padding: 0px 200px 0px 421px;
  }
}
@media only screen and (max-width: 940px) and (min-width: 600px) {
  .bg {
    width: 927px;
    height: auto;
    padding: 0px 10.2px 0px 4px;
  }
  .top {
    column-gap: 80px;
  }
}