.text{
   
    color: #17304C;
    font-size: 58px;
    line-height: 1.1em;
    letter-spacing: -1px;
    font-weight: bolder;
    width: 607px;
}
.text1{
    color: #224C72;
    width: 578px;
}
.text3{
    padding: 50px 0px;
    
}
.header{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.button{
    width: 180px;
    height: 47px;
    font-size: 19px;
    color: white;
    background-color: #0D76FF;
    border: #0D76FF;
    margin-top: 32px;
    border-radius: 3px;
}
.button1{
    width: 186px;
    height: 55px;
    font-size: 20px;
    color: white;
    background-color: #0D76FF;
    border: #0D76FF;
    margin-top: 50px;
    border-radius: 5px;
}
.btn1{
    width: 186px;
    height: 43px;
    font-size: 20px;
    color: white;
    background-color: #0D76FF;
    border: #0D76FF;
    margin-top: 50px;
    border-radius: 5px;
}
.midel{
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}
.img4{
    

    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 316px 0px 316px; */
    justify-content: center;
    column-gap: 80px;
}
.bg{
    background-color: #17304C;
    /* padding: 0px 100px 0px 100px; */
    display: flex;
    justify-content: center;
    height: 500px;
    width:100%;
    row-gap: 20px;
    column-gap: 50px;
}
.test{
    color: white;
font-weight: 700;
}
.top{
    margin-top: 71px;
    /* position: absolute; */
    display: flex;
    row-gap: 19px;
    justify-content: space-between;
    column-gap: 174px;
}
.test1{
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    width: 256px;
    margin-top: 11px;
}
.apps{
        
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 150px 0px 150px; */
    justify-content: center;
    column-gap: 153px;
}
.atext{
    width: 494px;
    color: #17304C;
}
.textt{
    font-size: 35px;
    font-weight: bold;
    color: #17304C;
}
.divider{
    display: flex;
    column-gap:25px;
    /* padding: 41px */
}
.dtext{
    align-items: center;
    display: flex;
    text-align: center;
    color: #17304C;
    width: 350px;
}
.blog{
    text-align: center;
    font-weight: bolder;
    margin-top: 60px;
    font-size: 1.5rem;
}
.blog1{
    font-size: 2rem;
    margin-top: 15px;
}
.pic{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 0px 0px 137px; */
    justify-content: center;
    row-gap: 10px;
    column-gap: 30px;
   
   
}
.pics{
    width: 400px;
}
.ptext{
    width: 400px;
    font-weight: bolder;
    font-size: 1.5rem;
}
.ptext1{
    width: 400px;
    font-size: 19px;
}
.btn{
    text-align: center;
}
.formtext{
    font-weight: bolder;
    font-size: 2rem;
}

.formtext1{
    
    font-size: 1.1rem;
    width: 500px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    /* padding:77px 100px 0px 100px; */
    justify-content: center;
    column-gap: 153px;
}
.form1{
    background-color: aqutransparena;
    margin-top: 14px;
    box-shadow: 10px , 10px;
    box-shadow: 10px 0px;
    /* box-shadow: 10px 10px 10px 10px #efefef; */
    box-shadow: rgb(225 225 225) 0px 0px 12px 5px;
    border-radius: 15px;
    padding: 28px 22px 0px 22px;
}
.input{
    width: 420px;
    height: 20px;
    color: #17304C;
    font-weight: 500;
}
.stext{
    

    width: 447px;
    font-size: 18px;
    font-weight: bolder;
    color: #224C72;
}
.scolor{
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}
.img-box{
     background-color: #17304C;
    color: black;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px; 
}

.img-box img{
    /* width: 100%;
    height: 100%; */
}

.indicators-box{
     width: 100%;

    display: flex;
    justify-content: center;
    
    
  
    
}

.indicators-box .indicato{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin-right: 25px;
    border-radius: 50%;
   cursor: pointer;


}

.bun{
    font-size: 38px;
    /* width: 714px; */
    /* padding: 0px 186px 0px 129px; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .header{
       /* padding : 0px 104px 0px 355px; */
       width: 791px;
    }
    .apps{
        padding: 0px 140px 0px 400px;
    }
    .top{
        padding: 0px 0px 0px 200px;
        
    }
    .text{
        font-size: 57px;
        width: 556px;
        text-align: center;
    }
    .atext{
        font-size: 25px;
        width: 500px;
    }
    .text1{
        font-size: 25px;    
        text-align: center;
    }
    .text3 .button{
        text-align: center;
        margin-left: 207px;
    } 
    .apps .button1{
        margin-left: 150px;
    }
    img{
        padding: 0px 79px 0px 79px;
    }
    .stext{
        width: 218px;
        font-size: 13px;
        font-weight: bolder;
        color: #224C72;
    }
    
    
    .midel{
        font-size: 40px;
        width: 791px;
        text-align: center; 
        /* padding: 0px 26px 0px 26px; */
    }
    .img4{
        padding: 0px 140px 0px 400px;
        row-gap: 15px;
    }
    .logo{
        height: 180px;
        /* padding: 0px 120px 0px 120px; */
        /* margin-left: 350px; */
    }
    .slice{
        height: 100px;
        background-color: aqua;
    }
    .bg
    {
        /* width: 800px; */
        /* padding: 0px 140px 0px 400px; */
    }
    .pics{
        width: 630px;
    }
    .pic{
        padding: 0px 140px 0px 400px;
        row-gap: 10px;
    }
    .ptext{
      
    width: 650px;
    padding: 0px 10px 0px 110px;
    font-size: 1.5rem;
    font-size: 2rem;
    }
    .ptext1{
        
    width: 650px;
    padding: 0px 10px 0px 110px;
    }
    .blog{
        text-align: center;
        font-weight: bolder;
        margin-top: 60px;
        font-size: 1.5rem;
        
    }
    .blog1{
        font-size: 2rem;
        margin-top: 15px;
        
        
        width: 704px;
    }
    .blog2{
        font-size: 30px;
        width: 714px;
        text-align: center; 
    }
    .btn{
        font-size: 38px;
        /* width: 714px; */
        padding: 0px 186px 0px 129px;
        margin-top: 20px;
    }
    .button1{
        width: 300px;
    }
    .bun{
        font-size: 38px;
        width: 186px;
        padding: 0px 5px 0px 289px;
        margin-top: 20px;
    }
   
    .form{
        padding: 0px 140px 0px 400px;
    }
    .form1{
        width: 433px;
    }
    .formtext{
        font-size: 38px;
        width: 714px;
        text-align: center; 
    }
    .formtext1{
        font-size: 25px;
        width: 714px;
        text-align: center; 
    }
    .img-box{
        margin-left: -60px;
        margin-top: 90px;
    }
    .scolor{
        margin-top: -57px;
    }
  }

  
@media only screen and (max-width: 857px) {
    
    
}

  /* @media only screen and (max-width: 768px) {
    .header{
        padding: 0px 26px 0px 26px;
     }
     .text{
         font-size: 35px;
         width: 716px;
         text-align: center;
     }
     .text1{
        width: 716px;
        text-align: center;
     }
     .text3 .button{
         text-align: center;
        margin-left: 250px;
        
     } 
     .apps .button1{
        margin-left: 150px;
    }
     img{
        padding: 0px 120px 0px 120px;
    }
    .midel{
        font-size: 51px;
        width: 671px;
        text-align: center; 
        padding: 0px 26px 0px 26px;
    }
    .logo{
        height: 90px;
        padding: 0px 120px 0px 120px;
    }
    .img4{
        padding: 0px 120px 0px 120px;
        row-gap: 15px;
    }
    .bg
    {
        width: 757px
    }
    .pics{
        width: 630px;
    }
    .pic{
        padding: 0px 20px 0px 20px;
        row-gap: 10px;
    }
    .ptext{
       
    width: 650px;
    padding: 0px 10px 0px 110px;
    font-size: 1.5rem;
    font-size: 2rem;
    }
    .ptext1{
       
    width: 650px;
    padding: 0px 10px 0px 110px;
    }
    .blog{
        text-align: center;
        font-weight: bolder;
        margin-top: 60px;
        font-size: 1.5rem;
        
    }
    .blog1{
        font-size: 2rem;
        margin-top: 15px;
        margin-left: 196px;
    }
    .blog2{
        margin-left: 197px;
    }
    .btn{
        margin-left: 219px;
    }
  } */