.admob {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}
.abtn {
  height: 30px;
  border-color: #0d76ff;
  color: #0d76ff;
  border-radius: 3px;
}
.abtn:hover {
  background-color: #0d76ff;
  color: white;
}
.himges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 20px;
}
.htext {
  font-weight: bolder;
  width: 308px;
  font-size: 20px;
}
.htext:hover {
  color: blue;
}
.htext1 {
  width: 308px;
}
.himg {
  width: 380px;
}

.hhover {
  box-shadow: rgb(225 225 225) 0px 0px 19px 6px;
  width: 380px;
}
.hpadding {
  padding: 5px 40px 2px 40px;
}
@media only screen and (max-width: 600px) {
  .admob {
    display: flex;
    padding: 0px 200px 0px 498px;
  }
  .abtn {
    height: 60px;
    font-size: 20px;
    width: 130px;
  }
  .himg {
    padding: 0px;
    width: 500px;
  }
  .himges {
    padding: 0px 200px 0px 498px;
  }
  .htext {
    width: 460px;
  }
  .hhover {
    width: 500px;
  }
  .htext1 {
    width: 460px;
  }
}
