.our {
  display: flex;
  flex-direction: row;
  column-gap: 27px;
}
.otext {
  width: 300px;
  font-size: 18px;
  margin-top: -11px;
}
.otext1 {
  width: 326px;
  font-size: 25px;
  font-weight: bolder;
}
.ourr {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 141px;
}
.oimg {
  height: 76px;
  margin-top: 17px;
}

@media only screen and (max-width: 600px) {
  .ourr{
    margin-left:30rem;
  }
  .our{
    flex-direction: column;
  }
  .otext1 {
    font-size: 51px;
    width: 486px;
    text-align: center;
  }
  .otext {
    width: 490px;
    text-align: center;
    font-size: 36px;
    font-size: 35px;
  }
  .oimg {
    height: 150px;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 780px) and (min-width: 600px) {
  .ourr {
    padding: 0px 200px 0px 421px;
  }
  .aimg {
  }
}
