.footer {
  background-color: #242a36;
  margin-top: 20px;
  width: auto;
  height: 450px;
}
.footer1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 50px;
}
.footertext {
  font-size: 17px;
  color: aliceblue;
  width: 123px;
}
.icon {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.ft1 {
}
@media only screen and (max-width: 600px) {
  .footer {
    width: 1027px;
    height: auto;
  }
  .footertext {
    font-size: 30px;
    color: aliceblue;
    width: 600px;
  }
  .ft1 {
    display: inline;
  }
  .footer1 {
    column-gap: 200px;
  }
}

@media only screen and (max-width: 940px) and (min-width: 600px) {
  .footer {
    width: 927px;
    height: auto;
    padding:  0px 10.2px 0px 4px;
  }
}
